@import "~bootstrap/scss/bootstrap";
@import "./home-page.scss";
@import "./login.scss";

*{
  font-family: "Palatino";
  font-size: 20px;
  font-style: bold;
  nav{
    border-bottom: 2.5px black solid
  }
  a {
  color: #fff;
  text-decoration: none;
    a:hover{
      color: #fff
    }
  }

  .project-cards{
    a{
      color: #000
    }
    border: 1px black solid
  }

  .user-cards{
    a{
      color: #000
    }
  }
}
